<% if (index){ %>
  <div class="widget-wrap">
     <% if (theme.social_title){%>
        <h3 class="follow-title "><%=  theme.social_title %></h3>
     <%}%>
    <div class="widget follow">
      <% if (theme.social.github){%>
              <a class="github" aria-hidden="true" href="<%=  theme.social.github %>" target="_blank" title="Github"></a>
      <%}%>
      <% if (theme.social.weibo){%>
            <a class="weibo" aria-hidden="true"  href="<%=  theme.social.weibo %>" target="_blank" title="微博"></a>
      <%}%>
      <% if (theme.social.zhihu){%>
              <a class="zhihu" aria-hidden="true"  href="<%=  theme.social.zhihu %>" target="_blank" title="知乎"></a>
      <%}%>
      <% if (theme.social.email){%>
            <a class="email" aria-hidden="true"  href="mailto:<%=  theme.social.email %>" target="_blank" title="邮箱"></a>
      <%}%>
    </div>
  </div>
<% } %>
